body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  width: 100vw;
  height: 100vh;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  display: flex;
  justify-content: space-evenly;
}
.contain-calculator {
  width: 70%;
  height: 50%;
  border: black solid 4px;
}
h1 {
  color: #9099;
  text-align: center;
}
input {
  width: 70%;
  background-color: #9099;
  margin-top: 5%;
  margin-left: 12%;
}
.contain-buttons {
  width: 100%;
  margin-top: 5%;
  display: flex;
  justify-content: space-around;
}